@charset "UTF-8";

body{
	width: 100%;
	min-width: 320px;
	line-height: 1;
	font-size: 16px;
	color: #333;
	font-family:"M PLUS Rounded 1c", "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
body *{box-sizing: border-box;}
img {
	border-style:none;
	vertical-align: bottom;
}
a{
	color: #333;
	text-decoration: none;
	transition: opacity .3s ease-in-out;
}
a:hover{
	opacity: .7;
}
.clearfix:after{
	display: block;
	clear: both;
	content: '';
}
.to{
	text-indent: -9999px;
	display: block;
}
.wrapper{
	width: 100%;
	max-width: 1200px;
	margin: 20px auto;
}
.c_main{
	padding: 30px 20px;
}
@media screen and (max-width:600px){
	body{
		font-size:4.375vw;
	}
	.wrapper{
		margin: 2% auto;
	}
	.c_main{
		padding: 3% 2%;
	}
}